* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 1em;
}

.book-collection {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.book-card {
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
  gap: 1em;
  border: 1px solid black;
}

.book-title::before {
  content: "Title: ";
}
.book-author::before {
  content: "Author: ";
}
.book-pages::after {
  content: " pages";
}
