:root {
  --header-background: #232136;
  --content-background: #393552;
  --sidebar-background: #eb6f92;
  --card-background: #232136;
  --card-highlight: #3e8fb0;
  --link: #3e8fb0;
  --link-visited: #c4a7e7;
  --font: #e0def4;
  --font-low-contrast: #d9d7e1;
  --font-light-bg: #232136;
  --button: #eb6f92;

  --filter-black: brightness(0) saturate(100%);
  --filter-dark: invert(9%) sepia(8%) saturate(3970%) hue-rotate(206deg) brightness(95%) contrast(88%);
  --filter-light: invert(97%) sepia(58%) saturate(986%) hue-rotate(180deg) brightness(100%) contrast(92%);
}

html,
body,
container {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  background: var(--header-background);
  color: var(--font);
}

.sidebar { 
  grid-column-start: 1;
  grid-row: 1 / span 2;
  display: grid;
  background: var(--sidebar-background);
  color: var(--font-light-bg);
}

.content {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  background: var(--content-background);
  color: var(--font);
}

.light-icon {
  filter: var(--filter-black) var(--filter-light);
}

.dark-icon {
  filter: var(--filter-black) var(--filter-dark);
}
