:root {
  --header-background: #232136;
  --content-background: #393552;
  --sidebar-background: #eb6f92;
  --card-background: #232136;
  --card-highlight: #3e8fb0;
  --link: #3e8fb0;
  --link-visited: #c4a7e7;
  --font: #e0def4;
  --font-low-contrast: #d9d7e1;
  --font-light-bg: #232136;
  --button: #eb6f92;

  --filter-black: brightness(0) saturate(100%);
  --filter-dark: invert(9%) sepia(8%) saturate(3970%) hue-rotate(206deg) brightness(95%) contrast(88%);
  --filter-light: invert(97%) sepia(58%) saturate(986%) hue-rotate(180deg) brightness(100%) contrast(92%);
}

* {
  box-sizing: border-box;
}

html,
body,
container {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 2fr;
  background: var(--header-background);
  color: var(--font);
}

.search-container {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  gap: 1rem;
}

.profile-container {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
}

.intro-container {
  grid-area: 2 / 1 / 2 / 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.button-container {
  grid-area: 2 / 2 / 2 / 2;
  display: flex;
}

.sidebar { 
  grid-column-start: 1;
  grid-row: 1 / span 2;
  display: grid;
  background: var(--sidebar-background);
  color: var(--font-light-bg);
}

.sidebar-item, 
.sidebar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.content {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  background: var(--content-background);
  color: var(--font);
}

.icon.light {
  filter: var(--filter-black) var(--filter-light);
}

.icon.dark {
  filter: var(--filter-black) var(--filter-dark);
}

.icon.small {
  height: 2rem;
  width: 2rem;
}

.icon.large {
  height: 4rem;
  width: 4rem;
}
