:root {
  --header-background: #232136;
  --content-background: #393552;
  --sidebar-background: #eb6f92;
  --card-background: #232136;
  --card-highlight: #3e8fb0;
  --link: #3e8fb0;
  --link-visited: #c4a7e7;
  --font: #e0def4;
  --font-low-contrast: #d9d7e1;
  --font-light-bg: #232136;
  --button: #eb6f92;

  --filter-black: brightness(0) saturate(100%);
  --filter-dark: invert(9%) sepia(8%) saturate(3970%) hue-rotate(206deg)
    brightness(95%) contrast(88%);
  --filter-light: invert(97%) sepia(58%) saturate(986%) hue-rotate(180deg)
    brightness(100%) contrast(92%);

  --font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

html,
body,
container {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background: var(--header-background);
  color: var(--font);
  column-gap: 4rem;
  padding: 0.5rem 2rem;
}

.search-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-container input {
  border-radius: 20px;
  border: none;
  background-color: var(--content-background);
  height: 1.5rem;
  width: 24rem;
}

.profile-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.intro-container {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.intro-container img {
  grid-area: 1 / 1 / 3 / 1;
}

.intro-container p {
  grid-area: 1 / 2 / 1 / 2;
  margin: 0;
  padding: 0;
}

.intro-container h1 {
  grid-area: 2 / 2 / 2 / 2;
  margin: 0;
  padding: 0;
}

.button-container {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.sidebar {
  grid-column-start: 1;
  grid-row: 1 / span 2;
  display: grid;
  background: var(--sidebar-background);
  color: var(--font-light-bg);
}

.sidebar-item,
.sidebar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.content {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  background: var(--content-background);
  color: var(--font);
}

.icon.light {
  filter: var(--filter-black) var(--filter-light);
}

.icon.dark {
  filter: var(--filter-black) var(--filter-dark);
}

.icon.small {
  height: 2rem;
  width: 2rem;
}

.icon.large {
  height: 5rem;
  width: 5rem;
}
