body {
  display: flex;
  flex-direction: column;
}

#about {
  display: flex;
  flex: 1;
}

#game {
  display: flex;
  justify-content: space-between;
  flex: 1;
  border: 2px solid black;
}

#scoreBoard {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#playArea {
  display: flex;
  flex-direction: column;
  flex: 1;
}
